name: Ssl status check

on:
  schedule:
    - cron: '0 0 * * *'  # Scheduled to run at 00:00 AM everyday.
  workflow_dispatch:  # Enabled to manually trigger the alert.


jobs:
  ssl_expiry_check:
    name: Ssl status check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Loop over domains and send alerts
        id: loop_domains
        run: |
         for domain in $(cat hostnames.txt)
         do
           expiry_days=$(python check_status.py "$domain") 
           message="*Domain : $domain \n* Warning : The SSL certificate for $domain will expire in $expiry_days days."
           curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"$message\"}" ${{ secrets.SLACK_WEBHOOK }}
         done


