name: SSL Expiry Check

on:
  schedule:
    - cron: '0 0 * * *'  # Run every day at midnight UTC
  workflow_dispatch:  # Allow manual triggering
  push:

jobs:
  ssl_expiry_check:
    name: SSL Expiry Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install requests

      - name: Read domain list
        run: cat hostnames.txt  # Replace with your domain list file path
        id: read_domain_list


      - name: Loop over domains and send alerts
        id: loop_domains
        run: |
          for domain in ${{ steps.read_domain_list.outputs.stdout }}
          do
            expiry_days=$(python Check_status.py "$domain")  # Replace with your SSL check script
            message="*Domain : $domain \n * Warning : The SSL certificate for $domain will expire in $expiry_days days."
            echo "$message"
            curl -X POST -H 'Content-type: application/json' --data "{\"text\":\"$message\"}" ${{ secrets.SLACK_WEBHOOK }}  # Replace with your secret name
          done
