name: Auth into server

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setting up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 3.81.130.76 >> ~/.ssh/known_hosts

      - name: SSH auth into EC2 instance and running commands
        run: |
          ssh -i ~/.ssh/id_rsa ubuntu@3.81.130.76 'mkdir test'
