name: Local SSH Connection

on:
  push:
  workflow_dispatch:

jobs:
  local_ssh:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up SSH agent
        uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Run command on local machine
        run: |
          ssh -o StrictHostKeyChecking=no -vT ubuntuadmin@127.0.0.1 -p 2222


