name: Deploy to Server

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install sshpass
        run: sudo apt-get install -y sshpass

      - name: Authenticate into server
        run: sshpass -p ${{ secrets.SSH_PASSWORD }} ssh ubuntuadmin@127.0.0.1
          
